html{
	font-size: 10px;
	text-align: center;
	background-color: #0C0C0C;
	font-family: 'Open Sans', sans-serif;
}

.roundimg{
	border-radius: 50%;
}



#Topbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgba(0,0,0,0.15);
}
#Topbar li{
	float: left;
}
#Topbar li a{
	display: block;
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 35px 20px;
	text-decoration: none;
	}

#Topbar li a:hover{
	background-color: gray;
}
#Topbar li a.active{
	color: white;	
	background-color: black;
}

p{
	font-size: 15px;
	color: white;
	line-height: 2;
	letter-spacing: 1px;
}

h1{
	font-size:20pt;
	color:white;
	text-align: center;
	padding: 35px 360px;
	margin: 0;
	text-shadow: 1px 1px 1px grey;
}
h2{
	font-size:40pt;
	color:white;
	text-align: center;
	padding: 100px 0;
	margin: 0;
	text-shadow: 15px 15px 15px black;
}
*{
	box-sizing: border-box;
}

.column{
	float:left;
	width: 33.33%;
	padding:50px;
}
.row::after{
	content: "";
	clear: both;
	display: table;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
#myImages{
	list-style-type: none;
	float: left;
}
#myImages li a{
	width="75%";
	
}
#myImages li a:hover{
	background-color: gray;
}
iframe, audio{
	display: block;
	margin: 0 auto;
	border: 3px solid #3fb6b2;
}

form{
	padding: 1px 1px;
}

input, textarea{
	background-color: white;
}
input{
	padding:5px 100px;
}


