html{
	font-size: 10px;
	text-align: center;
	background-color: gray;
	font-family: 'Open Sans', sans-serif;
}
body{
	width: 1000px;
	padding: 0 20px 20px 20px;
	border: 5px solid black;	
	margin: 0;
	background-color: red;
}
p,li{
	font-size: 25px;
	line-height: 2;
	letter-spacing: 1px;
}
h1{
	font-size:15pt;
	color:#3b464c;
	text-align: center;
	padding: 20px 0;
	margin: 0;
	text-shadow: 1px 1px 1px black;
}
h1 span{
	border: 4px dashed #20bcd5;
	padding: 10px;
}
iframe, audio{
	display: block;
	margin: 0 auto;
	border: 3px solid #3fb6b2;
}


