html{
	font-size: 10px;
	text-align: center;
	background-color: #0C0C0C;
	font-family: 'Open Sans', sans-serif;
}

#Topbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}
#Topbar li{
	float: left;
}
#Topbar li a{
	display: block;
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 35px 20px;
	text-decoration: none;
	}

#Topbar li a:hover{
	background-color: gray;
}
#Topbar li a.active{
	color: white;
	
	background-color: black;
}
p{
	padding: 50px 50px;
	font-size: 15px;
	color: white;
	line-height: 2;
	letter-spacing: 1px;
}
a{
	display: block;
	font-size: 25px;
	text-align: left;
	padding: 50px 50px;
	text-decoration: none;
}
h1{
	font-size:20pt;
	color:#3b464c;
	text-align: center;
	padding: 35px 360px;
	margin: 0;
	text-shadow: 1px 1px 1px black;
}
h2{
	font-size:40pt;
	color:#3b464c;
	text-align: center;
	padding: 100px 0;
	margin: 0;
	text-shadow: 1px 1px 1px black;
}
#myImages{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#myImages li a{
	margin:0;
	padding:0;
	overflow: hidden;
}
#myImages li{
	float: center;
}

iframe, audio{
	display: block;
	margin: 0 auto;
	border: 3px solid #3fb6b2;
}

form{
	color: white;
}


